 .style_batch {
    padding-left: 18%;
    padding-top: 2%;
  }
  .add_btn_defaultz {
    margin-left: -33%;
    margin-bottom: 9%;
  }
  .btn_btn_refesh {
    margin-left: 299%;
    margin-top: -2%;
  }
  .recent_add_btn_modal {
    margin-left: 115%;
  }
  .rec_select_box {
    width: 123%;
  }
  .chevron_add_btn {
    margin-left: 145px;
  }
  .btn_two_chevron {
    margin-left: 19em;
  }
  .rec_add_batch {
    padding-left: 1%;
  }
  .control_rec_field {
    margin-left: -46%;
  }
  .final_quant {
    margin-top: -1%;
  }
  .add_test_label {
    margin-top: -1%;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .inn_tabl_wrap{
      max-width: 270px;
      overflow: scroll;
    }
  }
  .stk_mgnt{
    width: 200px !important;
    margin-left: 25px !important;
  }

  .i_pro_type {
    padding-top: 5px;
  }

   @-webkit-keyframes flash {
    from, 50%, to {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }
  }

  @keyframes flash {
    from, 50%, to {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }
  }
  .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    /*animation-delay: 0.1s;*/
    animation-duration: 2s;
    background-color:red;
  }

  

  .cost_paddind
  {
    padding-left: 56px;
  }

  .ui-autocomplete-input {
    border: none; 
    font-size: 14px;
    /*width: 300px;*/
    /*height: 24px;*/
    margin-bottom: 5px;
    padding-top: 2px;
    border: 1px solid #DDD !important;
    padding-top: 0px !important;
    z-index: 1511;
    position: relative;
  }
  .ui-menu .ui-menu-item a {
    font-size: 12px;
  }
  .ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
  }
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
  }
  .ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
  }
  #modalIns{
    width: 500px;
  }