.btn_stock {
	background-color: #257796;
	color: white;
	border: none;
	padding-top: 8px;
	padding-left: 21px;
	padding-right: 21px;
	padding-bottom: 9px;
	border-radius: 3px !important;
	text-transform: uppercase;
	white-space: nowrap;
}
.top_collapse_mrg {
	margin-top: 13px;
	margin-left: 17px;
}
.stk_mangmnt {
	text-transform: capitalize;
	letter-spacing: 0.2px;
	padding-top: 3px;
	font-size: 15px;
}
.arow_rght {
	padding-right: 8px;
	font-size: 15px;
	padding-left: 14px;
}
.servr_styl {
	padding-right: 8px;
	color: #ffffff;
}
.btn_Sale{
	background-color: #257796;
	color: white;
	border: none;
	padding-top: 8px;
	padding-left: 21px;
	padding-right: 21px;
	padding-bottom: 9px;
	border-radius: 3px !important;
	text-transform: uppercase;
	white-space: nowrap;
}
.stock_elements ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}
.stock_elements ul li {
	margin-top: 7px;
}
.stock_elements ul li a {
	color: #353333;
	font-size: 15px;
	letter-spacing: 0.4px;
	text-transform: capitalize;
	line-height: 30px;
	font-weight: 400;
	white-space: nowrap;
	cursor: text;
}
.hnd_rghts {
	color: #e85858;
	font-size: 15px;
	padding-right: 8px;
	font-size: 10px;
}
.tab_head_01 {
	margin: 0px;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: 0.6px;
	padding-bottom: 14px;
	margin-top: 10px;
}
.tab_btm_line {
	width: 37px;
	height: 3px;
	background-color: #ff8f2f;
	float: left;
}
.drop_sub_items ul li a {
	padding-left: 45px;
}
.txt_span_bld {
	letter-spacing: 0.6px;
	text-transform: uppercase;
}
.stock_elements{
	border: 1px solid #40acd6 !important;
	padding: 17px !important;
}
.tabs-style-bar nav ul li a {
	background: #40acd6 !important;
	color: #fff !important;
	border-radius: 3px !important;
	margin-right: 11px !important;
}
.no_padding{
	padding-left: 0px !important;
}
.flt_rght {
	float: right;
	position: absolute;
	left: 35px;
	top: 10px;
}
.edt_icn {
	margin-top: 14px;
	margin-left: 19px;
	cursor: pointer;
	font-size: 16px;
	color: #1183af;
}
.trsh_icn {
	margin-top: 14px;
	cursor: pointer;
	margin-left: 10px;
	font-size: 16px;
	color: #1183af;
	margin-left: 20px;
}
.ey_icn {
	margin-top: 14px;
	font-size: 16px;
	color: #1183af;
	cursor: pointer;
	margin-left: 20px;
}
.p_for_word {
	font-size: 13px !important;
	white-space: nowrap;
	font-weight: 100 !important;
	text-transform: capitalize;
	padding-left: 7px;
	padding-top: 12px;
}
.mrgn_lft_5{
	margin-left: 5px;
}
.flt_lft {
	float: left;
	top: 4px;
	position: relative;
}
.spn_head {
	margin-left: 8px;
	margin-top: 7px;
	position: absolute;
}
.align_row {
	margin-left: 55px;
	background-color: #f1f1f1;
	min-height: 55px;
	border-bottom: 1px solid #ffffff;
}	
.font_weight_add {
	font-size: 18px;
	letter-spacing: 0.6px;
	color: #505050;
}
.icn_2_ey {
	margin-left: 18px;
}
.chk_top_styl {
	position: absolute;
	z-index: 999;
	left: 9px;
	top: 2px;
}
.chk_top_styl_1 {
	left: 24px;
	z-index: 999;
	top: 2px;
}
.chk_top_styl_2 {
	left: 32px;
	/* position: absolute; */
	z-index: 99;
	top: 1px;
}
.chk_top_styl_3 {
	z-index: 99;
	left: 27px;
	top: 2px;
}
.add_cls {
	padding-left: 21px;
}
.chk_top_styl_4 {
	left: 27px;
	z-index: 99;
	top: 2px;
}
.chk_top_styl_5 {
	z-index: 99;
	left: 27px;
	top: 2px;
}
.chk_top_styl_6 {
	z-index: 99;
	left: 27px;
	top: 2px;
}
.mrg_lft_50px{
	margin-left: 50px;
}
.color_2 {
	color: #6d6d6d;
	font-size: 14px;
	padding-top: 1px;
}
.lft_of_mrg_2 {
	margin-left: 28px;
}
.align_row_2 {
    margin-left: 111px;
    background-color: #f1f1f1;
    min-height: 55px;
    border-bottom: 1px solid rgb(226, 224, 224);
    border-radius: 3px !important;
}
.add_algn_2 {
	margin-left: 17%;
	background-color: #f1f1f1;
}
.tp_algn_5px {
	margin-top: 18px;
}
.add_new_stl {
	padding-left: 4px;
}
.main_head_bg {
	background-color: #f1f1f1;
	height: 48px;
	margin-left: 61px;
	border-bottom: 1px solid rgba(152, 152, 152, 0.44) !important;
}
.mrg_lft_36px{
	margin-left: 36px;
}
.row_add_color_bg{
	border-bottom: 1px solid rgb(226, 224, 224);
	background-color: #f1f1f1;
}
.lft_28px{
	margin-left: 28px;
}