@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
	padding: 0px;
	font-family: 'Roboto', sans-serif; /* Lato Google Font */
	font-size: 14px;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, span, p {
	font-family: 'Roboto', sans-serif;
}
* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
a, .btn {
	outline: none !important;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.login-body {
	background-image: url('../img/background.jpg');
	/*background-repeat: no-repeat;*/
	background-size: cover;
}

.logo-div {
	left: 7%;
	position: absolute;
	top: 40%;
}

.logo-img {
	width: 40%;
	
}

.iCresp-form {
	right: 0px;
	position: absolute;
	background-color: rgba(27, 178, 228, 0.55);
	width: 30%;
	height: 100%;
	color: #ffffff;
	padding: 15% 2% 1% 2%;
}

.alt-form-control {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border: 1px solid #ffffff !important;
}

.btn-custom {
	background-color: #04a0d2;
}

.i-color {
	color: #dd1c5f;
}

.c-color {
	color: #00a7ef;
}

.res-color {
	color: #464646;
}

.p-color {
	color: #e37f08;
}

.full-form {
	word-spacing: 120%;
}

.i-footer {
	position: absolute;
	bottom: 1%;
	left: 1%;
	color: #AAA6A6;
}