@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1440px) {
	.logo-div {
    	left: 0%;
	}

	.iCresp-form {
		width: 35%;
		padding: 14% 3% 1% 2%;
	}
}

@media only screen and (max-width: 1200px) {
	.logo-div {
    	left: -5%;
	}

	.iCresp-form {
		width: 40%;
		padding: 12% 3% 1% 2%;
	}
}

@media only screen and (max-width: 1024px) {
	.logo-div {
    	left: -18%;
	}

	.iCresp-form {
		width: 52%;
		padding: 20% 3% 1% 2%;
	}
}

/*-------------- Tab -------------------------*/

@media only screen and (max-width: 960px) {
	.logo-div {
    	left: -18%;
	}

	.iCresp-form {
		width: 52%;
		padding: 20% 3% 1% 2%;
	}
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 842px) {
	.logo-div {
    	left: -25%;
	}

	.iCresp-form {
		width: 52%;
		padding: 28% 3% 1% 2%;
	}
}

@media only screen and (max-width: 800px) {
	.logo-div {
    	left: -25%;
	}

	.iCresp-form {
		width: 52%;
		padding: 28% 3% 1% 2%;
	}
}


@media only screen and (max-width: 768px) {
	.logo-div {
    	left: -30%;
	}

	.iCresp-form {
		width: 52%;
		padding: 28% 3% 1% 2%;
	}
}


/*-------------- Mobile ------------------------*/



@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 736px) {

}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 667px) {
	.logo-div {
	    left: -35%;
	}

	.iCresp-form {
		width: 52%;
		padding: 28% 3% 1% 2%;
	}
}


@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 600px) {
	.logo-div {
	    left: -40%;
	}

	.iCresp-form {
		width: 52%;
		padding: 28% 3% 1% 2%;
	}
}

@media only screen and (max-width: 568px) {
/*	.logo-div {
	    left: -42%;
	}

	.logo-img {
    	width: 25%;
	} 

	.iCresp-form {
		width: 52%;
		padding: 28% 3% 1% 2%;
	}*/
	.iCresp-form {
		right: 0px;
		width: 100%;
		height: 55%;
		color: #ffffff;
		padding: 3% 5% 0% 5%;
		top: 45%;
	}

	.logo-div {
		left: 0%;
		top: 15%;
	}
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}